//            //
// VARIABLES  //
//            //

$font-size: 100%;
$font-family: 'Roboto', sans-serif;

$color-main:  #f6f5f4;
$color-categories: #2f313c;
$color-muted: #aaaaaa;
$color-border: #f0f0f0;
$color-bg: #f9f9f9;

$animation-speed: .5s;

